@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Geologica:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Geologica:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Geologica:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Protest+Strike&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ########### start nav ############ */

.nav {
    height: 10vh;
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.nav .img {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav .img img {
    width: 17%;
}

.nav ul {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 0;
    height: 100%;
}

.nav ul li {
    display: inline-block;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    letter-spacing: 3px;
    margin-right: 30px;
    font-family: sans-serif;
}

.nav ul li:first-child{
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

/* ########### end nav ############ */
/* ########### start section ############ */

.section {
    height: 200vh;
}

.section .text {
    height: 10%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: end;
}

.section .text p {
    font-family: "Geologica", sans-serif;
    font-weight: 100;
    color: #BDBDBD;
    font-size: 45px;
    letter-spacing: 1px;
    margin: 0;
}

.section .text h1 {
    font-family: "Asap", sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin: 0;
}

.section .hr {
    width: 70%;
    margin: 0 auto;
    height: 5%;
    padding-top: 30px;
}

.section .boxes {
    width: 70%;
    margin: 0 auto;
    height: 70%;
}

.section .boxes .box-in {
    width: 100%;
}

.section .boxes .box-1, .section .boxes .box-2, .section .boxes .box-3 {
    display: flex;
    padding-top: 40px;
}

.section .boxes .box-1 {
    padding-top: 0;
}

.section .boxes .box-1 img, .section .boxes .box-2 img, .section .boxes .box-3 img {
    width: 55%;
}

.section .boxes .box-1 .box-in, .section .boxes .box-2 .box-in, .section .boxes .box-3 .box-in {
    width: 45%;
    background-color: #FBFBFB;
    padding: 30px;
}

.section .boxes .box-1 .box-in p:first-child, .section .boxes .box-2 .box-in p:first-child, .section .boxes .box-3 .box-in p:first-child {
    padding-top: 10px;
    font-size: 35px;
    letter-spacing: 0.5px;
    font-family: "Geologica", sans-serif;
    font-weight: 200;
    color: #BDBDBD;
}

.section .boxes .box-1 .box-in p:last-child, .section .boxes .box-2 .box-in p:last-child, .section .boxes .box-3 .box-in p:last-child {
    font-size: 1px;
    color: yellow;
}

.section .boxes .box-1 .box-in button, .section .boxes .box-2 .box-in button, .section .boxes .box-3 .box-in button {
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    width: 50%;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: "Geologica", sans-serif;
    font-weight: 200;
    color: #BDBDBD;
}

.section .boxes .box-1 .box-in button a i, .section .boxes .box-2 .box-in button a i, .section .boxes .box-3 .box-in button a i {
    padding-left: 5px;
}

.section .box-4 {
    width: 70%;
    margin: 0 auto;
    height: 12%;    
    display: flex;
    align-items: center;
}

.section .box-4 p{
    font-size: 30px;
    color: #E0E0E0;
    font-family: "Geologica", sans-serif;
    font-weight: 200;
}

.section .box-4 button {
    border: 2px solid rgb(206, 206, 206);
    font-size: 15px;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.section .box-4 .btn2 {
    background-color: #F2F2F2;
    margin-top: 0;
}

/* ########### end section ############ */
/* ######## start footer ########## */

.footer {
    width: 100%;
    height: 50vh;
    background-color: #2C2C2C;
}

.footer .footer-1 {
    height: 85%;
    width: 70%;
    margin: 0 auto;
    display: flex;
}   

.footer .footer-1 div {
    padding-top: 50px;
}

.footer .footer-1 .img{
    width: 20%;
    height: 100%;
}

.footer .footer-1 .img img {
    width: 60%;
}

.footer .footer-1 .box-1 {
    width: 25%;
    height: 100%;
}

.footer .footer-1 .p {
    font-family: "Geologica", sans-serif;
    font-weight: 600;
    color: #fff;
}

.footer .footer-1 .box-2 {
    width: 35%;
    height: 100%;
}

.footer .footer-1 .box-2 {
    float: left;
    width: 35%;
    height: 100%;
}

.footer .footer-1 .box-2 ul li a{
    display: flex;
    margin-top: 30px;
    width: 100%;
    font-family: "Geologica", sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
}

.footer .footer-1 .box-2 ul li a i {
    color: #fff;
    width: 10%;
}

.footer .footer-1 .box-2 ul li a p {
    font-size: 12px;
    color: #fff;
    width: 70%;
}

.footer .footer-1 .box-3 {
    height: 100%;
    width: 20%;
}

.footer .footer-1 .box-3 .icons {
    padding-top: 20px;
}

.footer .footer-1 .box-3 .icons i {
    color: #fff;
    width: 20%;
    font-size: 25px;
}

.footer hr {
    height: 3px;
    color: #fff;
}

.footer .footer-2 {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
}

/* ######## end footer ########## */